.galeria-produtos
    clearfix()
    .galeria-produtos-categorias
        width 20%
        float left
        +tablet()
            width 25%
        +mobile()
            width 100%
            float none
            margin-bottom 5%
        a
            display block
            oxygen 14
            margin 0 0 3px
            text-decoration none
            color rgba($preto, .8)
            transition color .3s
            &:hover
                color $laranja
            &.active
                color $laranja
                oxygen 14 bold
            +mobile()
                display none
        select
            display none
            width 100%
            +mobile()
                display block
    .galeria-produtos-thumbs
        width 76.5%
        float right
        +tablet()
            width 72%
        +mobile()
            width 100%
            float none
        a
            display block
            position relative
            width 24%
            margin-right 1.33333%
            margin-bottom 1.33333%
            float left
            &:nth-child(4n)
                margin-right 0
            +tablet()
                width 32.44444%
                &:nth-child(4n)
                    margin-right 1.33333%
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width 48.66666%
                &:nth-child(4n)
                    margin-right 1.33333%
                &:nth-child(2n)
                    margin-right 0
            img
                width 100%
                height auto
                display block
            .overlay
                position absolute
                width 90%
                height 90%
                top 5%
                left 5%
                opacity 0
                transition opacity .3s
                background $img('sinal-mais.png') no-repeat center rgba($laranja, .7)
                background-size 60% 60%
            &:hover .overlay
                opacity 1