.galeria-carousel
    *
        outline 0
    opacity 0
    height 0
    position absolute
    transition opacity .5s, height .5s
    margin-bottom 0
    &.images-loaded
        position relative
        opacity 1
        margin-bottom 45px
        +tablet()
            margin-bottom 30px
        +mobile()
            margin-bottom 25px
        height auto
    a
        display block
        float left
        position relative
        width 25%
        border-left 1px solid #fff
        +tablet()
            width 33%
        +mobile()
            width 50%
        img
            display block
            width 100%
            +above($tablet)
                max-width 245px
            height auto
            outline 0
            border 0
        .overlay-wrapper
            opacity 0
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            transition opacity .3s
            .overlay
                position absolute
                display table
                width 90%
                height 90%
                top 5%
                left 5%
                background rgba($laranja, .7)
                > div
                    display table-cell
                    vertical-align middle
                    text-align center
                    p
                        color #fff
                        oxygen 18 light
                        margin 0 3px
                        &.overlay-titulo
                            text-transform uppercase
                            +below($tablet)
                                font-size 16px
                        &.overlay-arquiteto
                            font-size 14px
                            +below($tablet)
                                font-size 12px
        &:hover .overlay-wrapper
            opacity 1
    .slick-arrow
        position absolute
        width 20px
        height 100%
        top 0
        opacity .6
        transition opacity .3s
        border 0
        outline 0
        text-indent -9999px
        &:hover
            opacity 1
        &.slick-prev
            left -20px
            background $img('seta-retrocede.png') no-repeat 45% center $laranja
        &.slick-next
            right -21px
            background $img('seta-avanca.png') no-repeat 55% center $laranja
        +below($tablet)
            display none !important