// Responsive
desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 710px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$laranja = #f47a2e
$preto   = #000000

// Fonts
@import url('http://fonts.googleapis.com/css?family=Oxygen:300,400,700')
oxygen($size, $style = normal)
    font-size $size + 0px
    font-family 'Oxygen', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $style == bold
        font-weight 700
    if $style == light
        font-weight 300