header
    height 135px
    background #fff
    margin-bottom 30px
    position relative
    z-index 101
    .center
        clearfix()
        height 100%
    h1
        position relative
        float left
        width 170px
        height 100%
        margin 0
        padding 0
        a
            display block
            width 100%
            height 100%
            background $img('marca-girante-pto.png') no-repeat center
            background-size 100% auto
            text-indent -9999px
    +below($tablet)
        height 85px
        background $laranja
        margin-bottom 5%
        h1
            width 130px
            a
                background-image $img('marca-girante-bco.png')
    nav
        &#nav-desktop
            +below($tablet)
                display none
            float left
            position relative
            width 75%
            height 100%
            line-height 135px
            margin-left 6%
            oxygen 14 bold
            text-transform lowercase
            a
                display inline-block
                color $preto
                text-decoration none
                transition color .3s
                margin-right 3%
                &:hover
                &.active
                    color $laranja !important
                &.facebook
                    width 16px
                    text-indent -9999px
                    background $img('marca-fb-pto.png') no-repeat center
        &#nav-mobile
            +above($tablet)
                display none !important
            display none
            position absolute
            width 100%
            background rgba($preto, .8)
            padding 25px 0
            text-align center
            z-index 9999
            a
                display block
                color #fff
                oxygen 14 bold
                text-transform uppercase
                text-decoration none
                padding 8px 0
                &.active
                    color $laranja
                &.facebook
                    width 16px
                    margin 0 auto
                    text-indent -9999px
                    background $img('marca-fb-bco.png') no-repeat center
    &.home
        background transparent
        h1 a
            background-image $img('marca-girante-bco.png')
        nav#nav-desktop a
            color #fff
            &.facebook
                background-image $img('marca-fb-bco.png')
        +below($tablet)
            background $laranja
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        float right
        position relative
        height 55px
        width 24px
        outline 0
        padding 0
        top 15px
        margin-left 10%
        .lines
            display block
            width 100%
            height 3px
            background #fff
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                border-radius 2px
                background #fff
                transition .3s ease
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

.main
    padding-bottom 75px
    +below($tablet)
        padding-bottom 5%
    +mobile()
        padding-bottom 10%
    .title
        color $laranja
        margin-bottom 40px
        cursor default
        +below($tablet)
            margin-bottom 5%
        h2
            oxygen 30
            margin 0 0 .1em
            +below($tablet)
                font-size 24px
            +mobile()
                font-size 20px
        h3
            oxygen 20
            margin 0
            +below($tablet)
                font-size 16px
            +mobile()
                font-size 14px
    .center
        position relative
        clearfix()

footer
    width 100%
    background #EAEAEA
    text-align center
    oxygen 10
    padding 10px 0
    cursor default
    a
        color $preto
        text-decoration none
        transition color .3s
        &:hover
            color $laranja

.not-found
    text-align center
    padding 15vh 0 30vh
    h1
        margin 0
        padding 10px
        display inline-block
        oxygen 13 bold
        color $laranja
        text-transform uppercase
        border 2px solid $laranja
