.contato
    padding-bottom 0
    .informacoes
        width 30%
        float left
        color $preto
        .telefone
            oxygen 18
            margin 0 0 40px
        .endereco
            oxygen 14
        +tablet()
            width 40%
        +mobile()
            width 100%
            float none
            margin 30px 0
            .telefone
                margin-bottom 5%
    form
        width 60%
        float right
        +tablet()
            width 55%
        +mobile()
            width 100%
            float none
        input
        textarea
            width 100%
            background #EAEAEA
            border 0
            outline 0
            color $preto
            oxygen 14
            padding 10px 14px
            min-height 36px
            margin-bottom 3px
            resize none
            &.error
                border 1px solid rgba(red, .4)
        textarea
            height 160px
            display block
        input[type=submit]
            background $laranja
            text-transform uppercase
            text-align left
            transition background .3s, color .3s
            &:hover
                background $preto
                color $laranja
        .response
            width 100%
            text-align center
            padding 15px
            font-style italic
            oxygen 12
            margin-bottom 10px
            span
                oxygen 11
                color rgba(red, .8)
            &.success
                background $laranja
                color #fff
                oxygen 13
            &.error
                border 1px dashed rgba(red, .4)
    .googlemaps
        width 100%
        height 420px
        margin-top 40px
        +tablet()
            height 360px
        +mobile()
            height 250px
        iframe
            width 100%
            height 100%
