.banners-home
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    min-height 500px
    &:after
        content ""
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background rgba(#000, .2)
    .banner
        position absolute
        display block
        width 100%
        height 100%
        top 0
        left 0
        background-size cover
        background-position center
        .center
            height 100%
        .banner-texto
            position absolute
            width 100%
            height 100%
            display table
            > div
                display table-cell
                text-align center
                vertical-align middle
            p
                margin 0
                &.banner-titulo
                    oxygen 50
                    color rgba(#fff, .75)
                    text-transform uppercase
                    +tablet()
                        font-size 40px
                    +mobile()
                        font-size 28px
                &.banner-frase
                    display inline-block
                    padding .5em
                    oxygen 18
                    color rgba(#fff, .8)
                    background rgba(#000, .4)
                    margin-top .3em
                    +tablet()
                        font-size 16px
                    +mobile()
                        font-size 14px

.outlet-home
    position absolute
    bottom 0
    left 0
    width 100%
    background rgba($laranja, .8)
    z-index 9999
    text-decoration none
    transition background .3s
    &.construcard
        img
            display inline-block
            float left
            border-right 1px solid #fff
            padding 10px 30px 10px 0
            margin-right 30px
            +below($tablet)
                border none
        .outlet-home-bg
            clearfix()
            background $img('cartoes-construcard.png') no-repeat center right
            padding 30px 150px 30px 0
    .outlet-home-bg
        padding 30px 120px 30px 0
        background $img('movel-outlet.png') no-repeat center right
        +mobile()
            background none !important
            padding 20px 0 !important
        p
            margin 0
            display inline-block
            oxygen 16
            text-transform uppercase
            +mobile()
                oxygen 13
            &.outlet-titulo
                padding 5px 15px 5px 0
                margin-right 15px
                color #fff
                border-right 1px solid #fff
                +below($tablet)
                    border-right 0px
                    border-bottom 1px solid #fff
                    padding 0 0 5px
                    margin-bottom 5px
            &.outlet-frase
                padding 5px 0
                transition color .3s
                color rgba(#fff, .6)
    &:hover
        background $laranja
        .outlet-frase
            color #fff !important
