.title-produto
    border-bottom 1px solid $laranja
    padding-bottom 30px
    +mobile()
        padding-bottom 20px
.linha
    .galeria-produtos-thumbs a
        border 1px solid #CCCCCC
        img
            width 90% !important
            margin 5%
    h4
        margin 0 0 8px
        oxygen 16
        text-transform uppercase
    h5
        text-align center
        oxygen 16
        padding 0 15%
        margin 60px 0
        +tablet()
            margin 45px 0
        +mobile()
            margin 25px 0
            padding 0
            oxygen 14
    .linha-produto-imagens
        width 57.14%
        float left
        +tablet()
            width 50%
        +mobile()
            width 100%
            float none
        #linha-produto-imagem
            position relative
            img
                display block
                width 100%
                height auto
            .loading
                opacity 0
                transition opacity .3s
                width 44px
                height 44px
                background: $img('fancybox_loading.gif') center center no-repeat $laranja
                position absolute
                top 50%
                left 50%
                margin-top -22px
                margin-left -22px
                &.active
                    opacity 1
        .linha-produto-thumbs
            margin-top 5%
            a
                display block
                width 32.1428%
                margin-right 1.7857%
                margin-bottom 1.7857%
                float left
                &:nth-child(3n)
                    margin-right 0
                border 1px solid #CCCCCC
                transition border .3s
                img
                    width 90% !important
                    margin 5%
                    display block
                &.active
                    border-color $laranja
    .linha-categorias-footer
        width 100%
        clear both
        float left
        border-top 1px solid $laranja
        margin-top 35px
        padding-top 20px
        text-align center
        p
            margin 0 0 15px
            color $laranja
            oxygen 18 light
            text-transform uppercase
        a
            oxygen 14
            display inline-block
            text-decoration none
            color $preto
            transition color .3s
            &:after
                content "·"
                margin-left .5em
                color $preto !important
            &:last-child:after
                display none
            &:hover
                color $laranja
        +mobile()
            margin-top 7%
            padding-top 5%
            p
                font-size 14px
            a
                font-size 12px
    .botao-laranja
        background $laranja
        font-size 12px !important
        float left
        display block
        margin-top 30px !important
        text-decoration none
        color $preto !important
        padding 15px 35px 15px 28px
        background-image $img('seta-botaolaranja.png')
        background-position center left
        background-repeat no-repeat
        +mobile()
            margin-top 15px !important
    .linha-links
        width 76.5%
        float right
        margin-top 2.5%
        +tablet()
            width 72%
        +mobile()
            width 100%
            float left
            margin-top 4%
        a
            oxygen 14 bold
            color $preto
            text-decoration none
            transition color .3s
            &:hover
                color $laranja
            +mobile()
                font-size 13px
    .linha-produto-info
        width 37.755%
        float right
        clearfix()
        h3
        h2
            oxygen 16
            color $preto
            text-transform uppercase
            margin 0
        h2
            oxygen 28
            margin 3px 0 10px
        p
            margin 0
            oxygen 13
        +mobile()
            h3
                font-size 14px
            h2
                font-size 24px
        +tablet()
            width 45%
        +mobile()
            width 100%
            float none
            margin-bottom 10%