.novidades
    .novidades-sidebar
        width 16%
        float left
        color $preto
        a
            display block
            color $preto
            transition color .3s
            text-decoration none
            &:hover
                color $laranja
            &.active
                font-weight bold
        .novidades-categorias
            oxygen 14
        .novidades-datas
            oxygen 12
            text-transform lowercase
            margin-top 35px
            .ano
                margin-top 12px
        +tablet()
            width 25%
        +mobile()
            display none
    .novidades-main
        width 81%
        float right
        +tablet()
            width 70%
        +mobile()
            width 100%
            float left
        &.novidades-post
            h3
                oxygen 14
                color $preto
                text-transform uppercase
                border-bottom 1px solid $preto
                margin 0
                line-height 1.3
                padding-bottom 5px
            .info
                display block
                text-transform uppercase
                color $preto
                oxygen 10
                margin-top 7px
                clearfix()
                a
                    color $preto
                    transition color .3s ease
                    text-decoration none
                    &:hover
                        color $laranja
                .left
                    float left
                .right
                    float right
            .texto
                margin 15px 0 70px
                oxygen 12
                line-height 2
                color $preto
                img
                    display block
                    max-width 100%
                    height auto
                    margin 25px 0
                p img:first-child
                    margin-top 0
                p:first-child
                    margin-top 0
                iframe
                    margin 20px 0
                +below($tablet)
                    margin-bottom 35px
            .paginacao
                margin-top 25px
                text-align center
                clearfix()
                .prev
                .next
                    display inline-block
                    oxygen 11
                    color $preto
                    text-transform uppercase
                    text-decoration none
                    padding-top 10px
                    padding-bottom 10px
                    +mobile()
                        oxygen 10
                .prev
                    float left
                    padding-left 15px
                    padding-right 30px
                    background $img('seta-botaolaranja2.png') no-repeat center right $laranja
                    +mobile()
                        padding-left 10px
                        padding-right 25px
                .next
                    float right
                    padding-left 30px
                    padding-right 15px
                    background $img('seta-botaolaranja.png') no-repeat center left $laranja
                    +mobile()
                        padding-left 25px
                        padding-right 10px
                #topo
                    display inline-block
                    oxygen 11
                    padding-left 20px
                    padding-top 10px
                    text-transform uppercase
                    text-decoration none
                    color $preto
                    background $img('seta-botaolaranja3.png') no-repeat bottom left
            #comentarios
                h5
                    border-bottom 1px solid $preto
                    padding-bottom 5px
                    oxygen 14
                    margin 0
                    color $preto
                form
                    margin-top 15px
                    input
                    textarea
                        oxygen 12
                        width 100%
                        background transparent
                        border 0
                        border-bottom 1px solid $preto
                        outline 0
                        color $preto
                        margin-bottom 15px
                        padding-bottom 3px
                    textarea
                        resize none
                        height 130px
                    input[type=submit]
                        width auto
                        border 0
                        margin-bottom 0
                        background $laranja
                        padding 6px 15px
                    p
                        oxygen 10
                        color $preto
                        margin 10px 0 20px
                    #form-resposta
                        display none
                        width 100%
                        height auto
                        background $laranja
                        padding 10px 15px
                        oxygen 11
                        color black
                        text-align center
                        text-transform uppercase
                .comentarios-lista
                    list-style-type none
                    padding 0
                    oxygen 12
                    color $preto
                    &:after
                    li:before
                        content "....."
                        display block
                        padding 25px 0
                        oxygen 12
                        color $preto
                    .autor
                        display block
                        text-transform uppercase
                        margin-bottom 3px

#novidades-posts-list
    clearfix()
    .grid-sizer
        width 48%
        +mobile()
            width 100%
    .gutter-sizer
        width 4%
        +mobile()
            width 0%
    .thumb
        width 48%
        float left
        margin-right 4%
        margin-bottom 4%
        position relative
        &:nth-child(2n)
            margin-right 0
        &.loading
            visibility hidden
        +mobile()
            width 100%
            margin-right 0
        img
            display block
            width 100%
            height auto
        .overlay
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background rgba($laranja, .7)
            opacity 0
            transition opacity .3s
            text-transform uppercase
            color white
            padding 20px
            span.titulo
                display block
                border-bottom 1px solid white
                oxygen 16
                padding-bottom 5px
                line-height 1.3
                +mobile()
                    font-size 14px
            span.info
                display block
                oxygen 12
                margin-top 7px
            +below($tablet)
                opacity 1
        &:hover .overlay
            opacity 1

#novidades-load-more
    width 80px
    height 80px
    background $img('sinal-mais-blog.png') no-repeat center $laranja
    border-radius 100%
    margin 20px auto 0
    text-indent -9999px
    display block
    transition background .3s
    +mobile()
        width 65px
        height 65px
        background-size 60%
    &.loading
        background-image $img('fancybox_loading.gif')
        background-size auto
