.quem-somos
    .texto
        width 52%
        float left
        oxygen 14
        line-height 1.8
        p
            &:first-child
                margin-top 0
        +below($mobile)
            width 100%
            float none
            margin-bottom 5%
    .imagem
        width 40.81%
        float right
        img
            display block
            width 100%
            height auto
        +below($mobile)
            width 100%
            float none
    .parceiros
        width 100%
        float left
        clear both
        border-top 1px solid $laranja
        padding-top 40px
        margin-top 40px
        h3
            oxygen 16 light
            color $laranja
            margin 0 0 20px
            text-transform uppercase
            +mobile()
                oxygen 14
        a
            display block
            width 22.45%
            float left
            margin-right 3.4%
            margin-bottom 3.4%
            text-decoration none
            color $preto
            transition color .3s
            &:hover
                color $laranja
            &:nth-child(4n)
                margin-right 0
            +mobile()
                width 47.5%
                margin-right 5%
                margin-bottom 5%
                &:nth-child(4n)
                    margin-right 5%
                &:nth-child(2n)
                    margin-right 0
            img
                display block
                width 100%
                height auto
                margin-bottom 5%
            p
                oxygen 12
                margin 0 0 .3em
                cursor default
